$font-default: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;

// Cores
$color-background: #f3f3f4;
$color-gray: #7c7e80;
$color-gray-light: #d2d2d2; 
$color-white: #FFF;

$color-primary: #2B54A2;
$color-secondary: #A2CF49;

$color-page-header-bg: #2B54A2;
$color-page-header-text: #FFF;